<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./static/css/style.css" />
    <title>Meu Mercado</title>
</head>
<body>
    <header>
        <div class="conteiner">
            <div class="menu">
                <div class="logo">
                    <img src="./static/img/img-carrinho-compras.png" alt="icone de um carrinho de compras" />
                    <span>Meu Mercado</span>
                </div>
                <div class="pesquisa">
                    <input type="text" placeholder="Digite aqui o produto que procura" />
                </div>
                <div class="login">
                    <a href="#">
                        <img src="./static/img/img-user.png" alt="icone de um usuario" />
                        <a href="login.html">Entrar</a>
                        <span>&gt;</span>
                    </a>
                </div>
            </div>
        </div>
    </header>

    <main>
        <section id="menu-principal">
            <div class="conteiner">
                <div class="section-body">
                    <div class="section-body--iten">
                        <img src="./static/img/img-location.png" alt="icone de localizaço" />
                        <div class="part-column">
                            <span>000001-00</span>
                            <span>Promo ao bairro</span>
                        </div>
                    </div>

                    <div class="section-body--iten">
                        <img src="./static/img/hamburguer.png" alt="icone de localizaço" />
                        <span>Ver categoria</span>
                    </div>

                    <div class="section-body--iten">
                        <img src="./static/img/img--oferta.jpeg" alt="icone de localizaço" />
                        <span>Oferta</span>
                    </div>

                    <div class="section-body--iten">
                        <img src="./static/img/img-garrafa.jpeg" alt="icone de localizaço" />
                        <span>Bebida</span>
                    </div>

                    <div class="section-body--iten">
                        <img src="./static/img/img-cenoura.jpeg" alt="icone de localizaço" />
                        <span>Hortfruit</span>
                    </div>

                    <div class="section-body--iten">
                        <img src="./static/img/img-estrela.jpg" alt="icone de localizaço" />
                        <span>Meus favoritos</span>
                    </div>
                </div>
            </div>
        </section>

        <section id="principal">
            <div class="conteiner">
                <div class="section-principal">
                    <span class="icon-slide">&lt;</span>
                    <div class="destaque">
                        <div class="part-row">
                            <h3>Adega Zé da esquina</h3>
                            <div class="info-part">
                                <span class="corona">Corona</span>
                                <span class="extra">Extra</span>
                            </div>
                        </div>
                        <div class="part-img">
                            <img src="./static/img/img-corona.jpeg" alt="">
                            <img src="./static/img/img-corona.jpeg" alt="">
                            <img src="./static/img/img-corona.jpeg" alt="">
                        </div>
                        <div class="part-row">
                            <p class="price">R$ 5,99/unid <br /> 330ml</p>
                            <div class="info">
                                <span class="roteted">LEVE</span>
                                <span class="num">12</span>
                                <span class="roteted">PAGE</span>
                                <span class="num">11</span>
                            </div>
                        </div>
                    </div>
                    <span class="icon-slide">&gt;</span>
                </div>
                <div class="sliders-pointer">
                    <div class="pointerr"></div>
                    <div class="pointerr active"></div>
                    <div class="pointerr"></div>
                    <div class="pointerr"></div>
                    <div class="pointerr"></div>
                    <div class="pointerr"></div>
                    <div class="pointerr"></div>
                </div>
            </div>
        </section>
    </main>
</body>
</html>