<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./static/css/stylePesquisa.css" />
    <title>Pesquisar Produto</title>
</head>
<body>
    <header>
        <div class="conteiner">
            <div class="menu">
                <div class="logo">
                    <img src="./static/img/carrinho-compras.png" alt="icone de um carrinho de compras" />
                    <span>Meu Mercado</span>
                </div>
                <div class="pesquisa">
                    <input type="text" placeholder="Digite aqui o produto que procura" />
                </div>
                <div class="login">
                    <a href="#">
                        <img src="./static/img/img-user.png" alt="icone de um usuario" />
                        <a href="login.html">Usuario</a>
                        <span>&gt;</span>
                    </a>
                </div>
            </div>
        </div>
    </header>

    <main>
        <section id="list-pesquisa">
            <div class="conteiner">
                <div class="section-categoria">
                    <div class="section-categoria--iten">
                        <img src="./static/img/img-location.png" alt="icone de localizaço" />
                        <div class="part-column">
                            <span>000001-00</span>
                            <span>Promo ao bairro</span>
                        </div>
                    </div>

                    <div class="section-categoria--iten">
                        <img src="./static/img/hamburguer.png" alt="icone de localizaço" />
                        <span>Ver categoria</span>
                    </div>

                    <div class="section-categoria--iten">
                        <img src="./static/img/img--oferta.jpeg" alt="icone de localizaço" />
                        <span>Oferta</span>
                    </div>

                    <div class="section-categoria--iten">
                        <img src="./static/img/img-garrafa.jpeg" alt="icone de localizaço" />
                        <span>Bebida</span>
                    </div>

                    <div class="section-categoria--iten">
                        <img src="./static/img/img-cenoura.jpeg" alt="icone de localizaço" />
                        <span>Hortfruit</span>
                    </div>

                    <div class="section-categoria--iten">
                        <img src="./static/img/img-estrela.jpg" alt="icone de localizaço" />
                        <span>Meus favoritos</span>
                    </div>
                </div>
            </div>
        </section>

        <section id="part-pesquisa">
            <div class="conteiner">
       
            </div>
        </section>
    </main>
</body>
</html>